{% extends 'dashboard.html.twig' %}

{% block title %}Alumno index{% endblock %}

{% block titulo %}Lista Alumnos{% endblock %}

{% block btnsRight %}

<a href="{{ path('app_alumno_new') }}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
    <i class="fas fa-download fa-sm text-white-50"></i> Crear nuevo
</a>

<a href="{{ path('app_alumno_new') }}" class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm">
    <i class="fas fa-download fa-sm text-white-50"></i> Descagrar PDF
</a>


{# <a class="btn btn-success btn-sm" href="{{ path('app_alumno_new') }}">Crear nuevo</a>
<a class="btn btn-success btn-sm" href="{{ path('app_alumno_new') }}">Crear nuevo   </a> #}
{% endblock %}

{% block body %}
   <div class="row">
    <div class="col-12">


        <div class="card">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>RUT</th>
                                    <th>Nombre</th>
                                    <th>Teléfono</th>
                                    <th>Fecha registro</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>RUT</th>
                                    <th>Nombre</th>
                                    <th>Teléfono</th>
                                    <th>Fecha registro</th>
                                    <th></th>
                                </tr>
                            </tfoot>
                            <tbody>
                                {% for alumno in alumnos %}
                                <tr>
                                    {# <td>{{ alumno.id }}</td> #}
                                    <td>{{ alumno.username }}
                                    </td>
                                    <td>{{ alumno.fullname }}</td>
                                    <td>{{ alumno.phone }}</td>
                                    <td>{{ alumno.fechaCreacion ? alumno.fechaCreacion|date('Y-m-d H:i:s') : '' }}</td>
                                    <td>
                                        <a class="btn btn-sm btn-info" href="{{ path('app_alumno_show', {'id': alumno.id}) }}">Ver</a>
                                        <a class="btn btn-sm btn-warning" href="{{ path('app_alumno_edit', {'id': alumno.id}) }}"><i class="fas fa-edit"></i></a>
                                        <a class="btn btn-sm btn-danger" href="{{ path('app_alumno_delete', {'id': alumno.id}) }}"><i class="fas fa-trash"></i></a>
                                    </td>
                                </tr>
                                {% else %}
                                <tr>
                                    <td colspan="8">No se encontraron registros</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
   </div>
{% endblock %}
